@font-face { 
    font-family: "NeutralFace";
    src: url(../fonts/NeutralFace-Bold.otf) format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face { 
    font-family: "NeutralFace";
    src: url(../fonts/NeutralFace.otf) format("opentype");
    font-weight: 400;
    font-style: normal;
}

/* ------------------------------------------------------------------------ */

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #F2F0ED;
}

.container {
    width: 1500px;
}