body {
    overflow-x: hidden;
}

/* мобильная версия */
@media (max-width: 768px) {
    .container {
        /* padding: 15px; */
    }
}

/* десктопная версия */
@media (min-width: 768px) {
    .container {
        /* width: 1200px; */
        /* margin: 0 auto; */
        /* padding: 15px; */
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

/* :root {
    --scale: 0.5;
}

.elem-1 {
    width: calc(100px * var(--scale));
    height: calc(100px * var(--scale));
    font-size: calc(30px * var(--scale));
} */