@font-face {
    font-family: "NeutralFace";
    src: url(../fonts/NeutralFace-Bold.otf) format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: "NeutralFace";
    src: url(../fonts/NeutralFace.otf) format("opentype");
    font-weight: 400;
}

:root {
    --accent-font-color: #3341F1;
}

body {
    min-height: 100vh;
    padding-top: 20px;
    background-color: #EEF0F2;
}

.container {
    width: 1500px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}
