main {
    margin-top: 140px;
    display: flex;
    flex-direction: column;
}

.activities h1 {
    color: #282828;
    font-family: "NeutralFace";
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 20px;
}

.tab h2 {
    font-family: NeutralFace;
    font-size: 30px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    transition: 300ms;
    width: 556px;
    color: #282828;
}

.tab-list {
    display: flex;
    flex-wrap: wrap;
}

.tab {
    display: flex;
    flex-direction: column;
    width: 740px;
    height: 305px;
    border-radius: 20px;
    border: 1px solid #282828;
    padding: 20px;
    transition: 250ms;
    margin-top: 20px;
    text-decoration: none;
}

.tab-list li:not(:nth-child(2n)) {
    margin-right: 20px;
}

.tab .tag {
    align-self: flex-start;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    background-color: #3341F1;
    border-radius: 4px;
    color: #fff;
    padding: 7px 12px;
    margin-bottom: 10px;
    order: -1;
    transition: 300ms;
}

.tab-link {
    display: flex;
    align-items: center;
    align-self: flex-end;
    margin-top: auto;
}

.tab-link p {
    color: #000000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-right: 15px;
    transition: 300ms;
}

.tab-link .arrow  {
    width: 31px;
    height: 31px;
    background: url(../../img/icons/arrow-blue.png);
    /* border: 1px solid; */
    background-size: contain;
    transition: 300ms;
    background-repeat: no-repeat;
}

.tab:hover {
    background-color: #3341F1;
}

.tab:hover h2 {
    color: #fff;
}

.tab:hover .tag {
    background-color: white;
    color: #3341F1;
}

.tab:hover .tab-link p {
    color: #fff;
}

.tab:hover .tab-link .arrow {
    background: url(../../img/icons/arrow-white.png);
    background-size: contain;
    background-repeat: no-repeat;
}
