main {
    margin-top: 140px;
    display: flex;
    flex-direction: column;
}

.events h1 {
    color: #282828;
    font-family: "NeutralFace";
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 20px;
}

.event-list {
    display: flex;
    flex-wrap: wrap;
}

.events-list-item:not(:nth-child(2n)) {
    margin-right: 20px;
}

.event-list-item img {
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    margin-right: 20px;
}

.event-list-item h2 {
    font-family: NeutralFace;
    font-size: 30px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    transition: 300ms;
    width: 556px;
    color: #282828;
}

.event-list-item .tag {
    align-self: flex-start;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    background-color: #3341F1;
    border-radius: 4px;
    color: #fff;
    padding: 7px 12px;
    margin-bottom: 10px;
    order: -1;
    transition: 300ms;
}

.event-list-item a {
    width: 740px;
    height: 305px;
    display: flex;
    text-decoration: none;
    color: #282828;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    transition: 300ms;
}

.event-list-item a h3 {
    font-family: 'NeutralFace';
    font-size: 15px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    transition: 300ms;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.events .event-list-item b {
    display: flex;
    align-items: center;
    align-self: flex-end;
    margin-top: auto;
    position: relative;
    height: 31px;
    padding-right: 46px;
    color: #000000;
    font-family: 'Inter';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    transition: 300ms;
}

.events .event-list-item b::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 31px;
    height: 31px;
    background-image: url(../../img/icons/arrow-blue.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: translateY(-50%);
    transition: 300ms;
}

.events .event-list-item {
    margin-bottom: 20px;
}

.events .event-list-item:not(:nth-child(2n)) {
    margin-right: 20px;
}

.events .event-list-item:hover a {
    background-color: #3341F1;
}

.events .event-list-item:hover a h3 {
    color: #fff;
}

.events .event-list-item:hover a .tag {
    background-color: #fff;
    color: #3341F1;
}

.events .event-list-item:hover b {
    color: white;
}

.events .event-list-item:hover b::after {
    background: url(../../img/icons/arrow-white.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.events .big-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 740px;
    padding: 20px 0;
    background-color: #3341F1;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid #3341F1;
    margin-top: 40px;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    transition: 250ms;
}

.events .big-button:hover {
    background-color: transparent;
    border: 1px solid #3341F1;
    color: #3341F1;
}
