.intro {
    margin: 20px auto 0;
    border: 1px solid black;
    border-radius: 20px;
    width: 1500px;
}

.intro .container {
    display: flex;
    flex-direction: column;
}

h1 {
    display: flex;
    flex-direction: column;
    margin-top: 85px;
}

h1 span {
    color: #282828;
    font-family: "NeutralFace";
    font-size: 145px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

h1 span:first-child {
    margin-left: 209px;
}

h1 span:last-child {
    position: relative;
    margin-left: 484px;
}

h1 span:last-child::before {
    content: "";
    position: absolute;
    width: 209px;
    height: 10px;
    flex-shrink: 0;
    border-radius: 1000px;
    background: #282828;
    left: -275px;
    top: 72.5px;
}

.intro img {
    width: 1475px;
    margin: 0 12px 12px;
}

/*-------------------------------------------------------------------------------*/

.about {
    margin-top: 140px;
}

.about .container {
    position: relative;
}

.about p {
    position: absolute;
    color: #3341F1;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.about h2 {
    color: #000;
    font-family: "NeutralFace";
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 50.4px */
    letter-spacing: -0.84px;
    text-indent: 380px;
}

/*-------------------------------------------------------------------------------*/

.tabs {
    margin-top: 40px;
}

.tab {
    display: block;
    border: 1px solid #3341F1;
    width: 360px;
    height: 271px;
    padding: 20px 15px;
    transition: 250ms;
    border-radius: 10px;
    text-decoration: none;
    cursor: grab;
}

.tab:hover {
    background-color: #3341F1;
}

.tab:hover .tab-num {
    color: #fff;
}

.tab:hover .tab-description {
    color: #fff;
}

.tab:hover .tab-link p {
    color: #fff;
}

.tab:not(:last-child) {
    margin-right: 20px;
}

.tab-num {
    color: #3341F1;
    font-family: "NeutralFace";
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tab-description {
    width: 330px;
    height: 90px;
    margin: 27px 0;
    color: #3341F1;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tab-link {
    display: flex;
    align-items: center;
}

.tab-link .arrow  {
    width: 31px;
    height: 31px;
    background: url(../../img/icons/arrow-blue.png);
    /* border: 1px solid; */
    background-size: contain;
    transition: 250ms;
    background-repeat: no-repeat;
}

.tab:hover .tab-link .arrow {
    background: url(../../img/icons/arrow-white.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.tab-link p {
    color: #3341F1;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-right: 15px;
}


.tabs ol {
    display: flex;
    justify-content: space-between;
}

/*-------------------------------------------------------------------------------*/

.relevant-news h2 {
    margin-top: 140px;
    color: #3341F1;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.relevant-news .news-tab-list {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.news-tab {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.news-tab time {
    order: -1;
}

.news-tab:not(:last-child) {
    margin-right: 20px;
}

.news-tab img {
    order: -2;
    height: 180px;
    width: 360px;
}

.tag {
    align-self: flex-start;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    background-color: #3341F1;
    border-radius: 4px;
    color: #fff;
    padding: 7px 12px;
    margin: 10px 0;
}

.news-tab-text {
    max-width: 300px;
    color: #282828;
    font-family: "NeutralFace";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 16.5px */
    text-transform: uppercase;
}

.big-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 740px;
    padding: 20px 0;
    background-color: #3341F1;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid #3341F1;
    margin-top: 40px;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    transition: 250ms;
}

.big-button:hover {
    background-color: transparent;
    border: 1px solid #3341F1;
    color: #3341F1;
}


/*-------------------------------------------------------------------------------*/

.feedback-form {
    margin-top: 140px;
}

.feedback-form .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback-form h2 {
    position: absolute;
    align-self: flex-start;
    font-family: Inter;
    font-size: 17px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #3341F1;
    text-transform: uppercase;
}

.feedback-form p {
    width: 740px;
    font-family: NeutralFace;
    font-size: 42px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.02em;
    text-align: left;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group:first-child  {
    margin-top: 40px;
}

.form-group:not(:last-child) {
    margin-bottom: 10px;
}

.form-group input {
    width: 740px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #000;
    background-color: transparent;
    padding-left: 20px;
    font-size: 17px;
}

.error {
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #FF0000;
    margin-bottom: 10px;
}

.feedback-form textarea {
    width: 740px;
    height: 324px;
    font-size: 17px;
    border-radius: 10px;
    border: 1px solid #000;
    background-color: transparent;
    padding: 20px 0 0 20px;
    resize: none;
}

.feedback-form textarea::placeholder {
    color: #666;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

