.communityhiik-section {
    margin-top: 20px;
    border: 1px solid  black;
    border-radius: 20px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.text-community {
    color: #282828;
    font-family: "NeutralFace";
    font-size: 145px;
    font-weight: 700;
    line-height: normal;
}

.text-community:not(:last-child) {
    margin: 60px 0 0 209px;
}

.under-text-community {
    display: flex;
    align-items: center;
    height: 132px;
}

.dash {
    margin: 0 66px 0 209px;
    height: 10px;
    width: 209px;
    border-radius: 1000px;
    background: #282828;
}

.code {
    width: 1474px;
    height: 336px;
    margin:0 0 12px 13px;
}

/* ------------------------------------------------------------------------ */

.about {
    margin-top: 140px;
}

.about .section-name {
    position: absolute;
    margin: 0;
}

.about-text {
    color: #000;
    font-family: "NeutralFace";
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 46.2px */
    letter-spacing: -0.84px;
    text-transform: uppercase;
    text-indent: 380px;
}

/* ------------------------------------------------------------------------ */

.tabs {
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.tab {
    border: 1px solid #3341F1; 
    width: 360px;
    height: 271px;
    padding: 20px 15px;
    transition: 300ms;
    border-radius: 10px;
}

.tab:hover {
    background-color: #3341F1;
}

.tab:hover .item {
    color: #fff;
}

.tab:hover .tab-description {
    color: #fff;
}

.tab:hover .tab-link p {
    color: #fff;
}

.tab:not(:last-child) {
    margin-right: 20px;
}

.item {
    color: #3341F1;
    font-family: "NeutralFace";
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tab-description {
    width: 330px;
    height: 90px;
    margin: 27px 0;
    color: #3341F1;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tab-link {
    display: flex;
    align-items: center;
}

.tab-link a {
    width: 31px;
    height: 31px;
    background: url(../../img/Frame_954.svg);
    /* border: 1px solid; */
    background-size: contain;
    transition: 300ms;
}

.tab:hover .tab-link a {
    background: url(../../img/Frame_954-invrs.svg);
    transition: 300ms;
}

.tab-link p {
    color: #3341F1;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-right: 15px;
}

/* ------------------------------------------------------------------------ */

.section-name {
    margin-top: 140px;
    color: #3341F1;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.news {
    display: flex;
    margin-top: 20px;
}

.news .section-name {
    position: relative;
    top: -20px;
}

.news-tab:not(:last-child) {
    margin-right: 20px;
}

.news-tab img {
    height: 180px;
    width: 360px;
}

.tag {
    display: inline-block;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    background-color: #3341F1;
    border-radius: 4px;
    color: #fff;
    padding: 7px 12px;
    margin: 10px 0;
}

.news-tab-text {
    max-width: 360px;
    color: #282828;
    font-family: "NeutralFace";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 16.5px */
    text-transform: uppercase;
}

.big-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 740px;
    padding: 20px 0;
    background-color: #3341F1;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 40px;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

/* ------------------------------------------------------------------------ */

.feedback-form .section-name {
    position: absolute;
}

.feedback-form {
    margin-top: 140px;
    display: flex;
}

.feedback-container {
    margin: 140px auto 0 auto;
    width: 740px;
}

.feedback-container p {
    color: #000;
    font-family: "NeutralFace";
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 50.4px */
    letter-spacing: -0.84px;
}

.feedback-user-data {
    margin: 40px 0 20px 0;
}

.feedback-user-data input {
    width: 360px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #000;
    background-color: #F2F0ED;
    padding-left: 20px;
    font-size: 17px;
}

.feedback-user-data input:first-child {
    margin-right: 16px;
}

.feedback-user-data input::placeholder {
    color: #666;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.feedback-message textarea {
    width: 740px;
    height: 324px;
    font-size: 17px;
    border-radius: 10px;
    border: 1px solid #000;
    background-color: #F2F0ED;
    padding: 20px 0 0 20px;
    resize: none    ;
}

.feedback-message textarea::placeholder {
    color: #666;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
