main {
    margin-top: 140px;
    display: flex;
    flex-direction: column;
}

.schedule h1 {
    color: #282828;
    font-family: "NeutralFace";
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
}

.schedule .filters {
    display: flex;
    align-items: flex-start;
    margin-top: 40px;
}

.schedule .schedule-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.schedule .schedule-list-item:hover {
    transform: scale(1.2) translateY(-13%);
}

.schedule .schedule-list .schedule-list-item {
    transition-duration: 300ms;
    margin: 20px 0;
}

.schedule .schedule-list li:not(:nth-child(12n)) {
    margin-right: 40px;
}

.schedule .schedule-list li a {
    display: flex;
    align-items: flex-end;
    width: 87px;
    height: 91px;
    text-decoration: none;
    background-image: url("../../img/icons/folder.svg");
    background-repeat: no-repeat;
    background-size: 100% 67px;
    background-position: center top;
}


.schedule .schedule-list li a h3 {
    font-family: 'NeutralFace';
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    color: var(--accent-font-color);
}

.schedule .schedule-list li a h3 span {
    text-transform: uppercase;
}

