.dropdown {
    width: 171px;
    height: 34px;
    border-radius: 5px;
    border: 1px solid var(--accent-font-color);
}

.dropdown button {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 34px;
    padding: 0;
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    color: var(--accent-font-color);
    border: none;
    background-color: #EEF0F2;
    cursor: pointer;
}

.dropdown button span {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.dropdown button::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    width: 13px;
    height: 18px;
    background-image: url("../../img/icons/dropdown-arrow.svg");
    background-repeat: no-repeat;
    background-size: 13px 7px;
    background-position: center;
    transform: translateY(-50%) rotate(180deg);
    transition-duration: 300ms;
    transition-property: transform;
    transform-origin: center;
}

.dropdown.dropdown--open button::after {
    transform: translateY(-50%) rotate(0deg);
}

.dropdown .dropdown-menu {
    position: absolute;
    right: 0;
    left: 0;
    top: -115px;
    padding: 0 20px 10px;
    transition-duration: var(--dropdown-transition);
    transition-property: top;
}

.dropdown.dropdown--open .dropdown-menu {
    top: 34px;
}

.dropdown .dropdown-menu .dropdown-item {
    text-decoration: none;
    font-family: Inter;
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--accent-font-color);
    text-transform: uppercase;
}

.dropdown .dropdown-menu li:not(:last-child) {
    margin-bottom: 10px;
}

.dropdown {
    position: relative;
    margin-right: 95px;
    overflow: hidden;
    transition-duration: var(--dropdown-transition);
    transition-property: height;
}
